.container {
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  display: flex;
  width: 65%;
  border-radius: 6px;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}
.container::after {
  content: "";
  position: absolute;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: -1;
}
.container_close {
  position: absolute;
  top: -18px;
  right: -15px;
  background-color: #fff;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  font-size: 1.6rem;
  color: #52342e;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
}
.container img {
  margin-left: auto;
  margin-right: auto;
  width: 270px;
  height: 420px;
  object-fit: contain;
  object-position: center;
}
.form { 
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
}
.form h1 {
  font-size: 1.9rem;
  color: #1a2250;
  text-align: center;
  margin-bottom: 10px !important;
  font-weight: bold;
  margin-top: 20px !important;
}
.form p {
  color: #3b4169 !important;
  padding: 0px 20px !important;
  font-size: 18px !important;
  margin-bottom: 20px !important;
  text-align: center !important;
  word-spacing: 2.5px !important;
  line-height: 26px !important;
}
.form input {
  border: 2px solid #daddec;
  margin: 5px 0 10px;
  font-size: 1rem;
  color: #678065;
  padding: 12px;
  border-radius: 3px;
  display: block;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 16px;
}
.form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #878dac !important;
}
.form .btn1 {
  border: none;
  padding: 12px;
  border-radius: 3px;
  background-image: linear-gradient(to right, #89caff, #6589ff);
  display: block;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 5px 20px #89caff 94;
  transition: box-shadow 0.3s ease-in-out;
}
.form .btn1:hover {
  box-shadow: none;
}
.form .btn2 {
  color: #babdcb;
  font-size: 15px;
  text-decoration: underline;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  cursor: pointer;
}

.error {
  color:red !important;
  font-style: italic;
  font-size:13px !important;
  text-decoration: underline;
  line-height: 1.3 !important;
}
/* second media query */

@media screen and (max-width: 800px) {
  .container{
     width: 90%;
     height: 55vh;
     background-color: #fff;
  }
  .form{
      width: 100%;
  }
  .form h1{
  font-size: 2.0rem;
  }
  .form p{
      padding: 0px 10px;
      font-size: 14px !important;
      margin-bottom: 10px;
      line-height: 22px;
      word-spacing: 2px;
  }
  .form input{
    padding: 10px;
    margin-bottom: 10px;
    color:#1a2250
  }
  .form .btn1{
    padding: 12px;
      /* width: 87%; */
      font-size: 14px;
  }
  .form .btn2{
   width: 50%;
   margin-bottom: 10px;
  }
  
  /* img section css */
  .container img {
    width: 0%;
    display: none;
  } 
}
@media screen and (max-width: 600px) {
  .container{
    width: 90%;
    height: 60vh !important;
    margin-top: -50px;
    z-index: 3;
    background-color: #fff;
 }
 .form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #878dac !important;
  font-size: 12px;
}
}