ul.pagination_bg {
    display: flex;
    justify-content: center;
}
.pagination_bg li,
.pagination_bg button{
    background-color: rgba(15, 55, 130, 1);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
    font-size: 25px;
    font-weight: 600;
}
.pagination_bg{
    margin: 10px auto;
    max-width: 1327px;
    padding: 0 16px;
}

@media screen and (max-width:700px){
    .pagination_bg li,
    .pagination_bg button{
        width: 30px;
        height: 30px;
        font-size: 16px;
    } 
}

.container {
    padding: 0 2rem;
   }
   
   .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
   }
   
   .pageLink {
    cursor: pointer;
   }
   
   /* pagination pageItem */
   .pageItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    cursor: pointer;
   }
   
   /* pagination page item when active */
   .pageItemActive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: red;
   }